## How to import data from a database into Python

Author: tygithub18

Date: 12/24/2018

Often time, when working with large amounts of data it will be stored in a database instead of as a CSV file on your desktop. This is an example of how I stored data into a MySQL database on my computer and imported a table into a Pandas dataframe.

This lesson is meant to tie in with my previous one about creating and opening large datasets. With these, you will be able to create a large dataset in Python from scratch or use Python to merge several files together into one large CSV. Then you can load the CSV into a database or import it into Python directory. Lastly, if you imported it into a database, this guide will show you how to import it into Python. You can export your work as a CSV using the previous guides. 

https://stackoverflow.com/questions/37730243/importing-data-from-a-mysql-database-into-a-pandas-data-frame-including-column-n

In [1]:
import mysql.connector as sql
import pandas as pd

db_connection = sql.connect(host='myhost', database='mydb', user='myroot', password = 'mypassword')
db_cursor = db_connection.cursor()
db_cursor.execute('SELECT * FROM myteam')

table_rows = db_cursor.fetchall()

df = pd.DataFrame(table_rows)

db_connection.close()

In [2]:
df

   0         1          2
0  1     Brady   Patriots
1  2    Wilson  Seahawaks
2  3  Prescott    Cowboys
3  4     Bress     Saints
4  5   Rodgers    Packers

In [3]:
df.columns = ['Player_ID', 'Player_Name', "Player_Team"]
df

   Player_ID Player_Name Player_Team
0          1       Brady    Patriots
1          2      Wilson   Seahawaks
2          3    Prescott     Cowboys
3          4       Bress      Saints
4          5     Rodgers     Packers

In [4]:
df= df.set_index('Player_ID')

In [5]:
df

          Player_Name Player_Team
Player_ID
1               Brady    Patriots
2              Wilson   Seahawaks
3            Prescott     Cowboys
4               Bress      Saints
5             Rodgers     Packers